@import "modules/button.css";
@import "modules/input.css";
@import "modules/table.css";
@import "modules/tabs.css";
@import "modules/datepicker.css";
@import "modules/progress.css";
@import "modules/popup.min.css";
@import "modules/slider.css";
@import "modules/side-nav.css";
@import "modules/sidebar.css";
@import "modules/cards.css";
@import "modules/modals.css";
@import "modules/forms.css";
@import "modules/badges.css";
@import "modules/flags.css";
@import "modules/filepond.css";
@import "modules/filepond.min.css";
@import "modules/filepond-plugin-image-preview.css";
@import "modules/filepond-plugin-image-edit.css";
@import "modules/cropper.min.css";
@import "modules/animate.min.css";
@import "modules/ui.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --slide-distance: 2rem;
        --fade-distance: 1rem;
        --zoom-duration: 0.5s;
        --shimmer-duration: 1.5s;
        --shimmer-angle: 90deg;
        --shimmer-mode: alternate;
        --shimmer-direction: 1;
        --shimmer-color: rgba(255, 255, 255, 0.6);
    }

    .dark {
        --shimmer-color: rgba(255, 255, 255, 0.1);
    }
}
