/* resources/css/auth.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../images/auth/loginbackground.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.auth-content {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 20px;
  padding: 25px 40px;
}

.auth-content h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.auth-content .input-box {
  width: 100%;
  position: relative;
  height: 50px;
  margin: 30px 0;
}

.auth-content .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.auth-content .input-box input::placeholder {
  color: #fff;
}

.auth-content .input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.auth-content .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.auth-content .remember-forgot label {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.auth-content .remember-forgot label input {
  accent-color: #fff;
}

.auth-content .remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.auth-content .remember-forgot a:hover {
  text-decoration: underline;
}

.auth-content .auth-btn {
  width: 100%;
  height: 45px;
  background: #ffffffab;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  transition: all 0.3s ease;
}

.auth-content .auth-btn:hover {
  background: #fff;
}

.auth-content .auth-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.auth-content .auth-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 15px;
}

.auth-content .auth-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.auth-content .auth-link a:hover {
  text-decoration: underline;
}

.auth-content .input-error {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 14px;
  color: #ff6b6b;
}